html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  line-height: 1.2;
  color: var(--dark-color);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Lato', "Microsoft JhengHei", 微軟正黑體, "Microsoft YaHei", 微軟雅黑, SimHei, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC";
}

header {
  position: relative;
  z-index: 1000;
}

main {
  min-height: calc(100vh - 116px);
}

a {
  color: var(--dark-color);
}

a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none !important;
  color: inherit;
}

:root {
  /* 顏色 */
  --main-color: #1860C3;
  --bright-color: #3D80CB;
  --deep-color: #394EA6;
  --sub-color: #FFBF6B;
  --milktea-color: #FFD6B3;
  --tissue-color: #FDEDED;
  --special-color: #C06981;
  --lady-color: #FFACBE;
  --black-color: #111111;
  --dark-color: #223446;
  --iron-color: #33475b;
  --gray-color: #bbbbbb;
  --bone-color: #e0e0e0;
  --light-color: #f6f5f3;
  --white-color: #ffffff;
  /* 圓角 */
  --radius-lg: 20px;
  --radius-md: 10px;
  --radius-sm: 5px;
  --shadow-sm: 0.2px 0.2px 0.8px -10px rgba(40, 10, 0, 0.014), 0.4px 0.4px 2px -10px rgba(40, 10, 0, 0.02), 0.8px 0.8px 3.8px -10px rgba(40, 10, 0, 0.025), 1.3px 1.3px 6.7px -10px rgba(40, 10, 0, 0.03), 2.5px 2.5px 12.5px -10px rgba(40, 10, 0, 0.036), 6px 6px 30px -10px rgba(40, 10, 0, 0.05);
  --shadow-md: 1px 0.9px 2.3px -3px rgba(30, 10, 10, 0.04), 2.4px 2.2px 5.5px -3px rgba(30, 10, 10, 0.05), 4.5px 4.1px 10.4px -3px rgba(30, 10, 10, 0.06), 8px 7.4px 18.5px -3px rgba(30, 10, 10, 0.07), 15px 13.8px 34.7px -3px rgba(30, 10, 10, 0.08), 36px 33px 83px -3px rgba(30, 10, 10, 0.2);
  --shadow-lg: 0 5px 20px rgb(0 0 0 / 16%);
}

p {
  line-height: 1.6;
}

ul,
li,
ol {
  list-style: none;
  padding: unset;
}

/* 補cdn版本tailwindcss缺的程式 */
.aspect-square {
  aspect-ratio: 1 / 1;
}

.aspect-video-row {
  aspect-ratio: 16 / 9;
}

.aspect-picture-row {
  aspect-ratio: 4 / 3;
}

.aspect-work-row {
  aspect-ratio: 5 / 3;
}
