.debug {
  border: 1px solid red; }

.js-img-fadeIn {
  opacity: 0;
  will-change: opacity; }

.skeleton {
  position: relative;
  overflow: hidden; }
  .skeleton::before {
    will-change: transform;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 100;
    animation: skeleton-ani 1s ease infinite;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 70%); }
  .skeleton::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #f5f5f5; }

@keyframes skeleton-ani {
  0% {
    transform: translateX(-100%); }
  to {
    transform: translateX(100%); } }
